# .env
DOCKER_NETWORK_NAME=mynetwork
REPLICA_ID=rs0
USERNAME=admin
PASSWORD=Qwerty123
DB=mydb
NAME_PRIMARY=mongodb_primary
NAME_SECONDARY_1=mongodb_secondary_1
NAME_SECONDARY_2=mongodb_secondary_2
GUEST_HOST=127.0.0.1
PORT_PRIMARY=27017
PORT_SECONDARY_1=27018
PORT_SECONDARY_2=27019
TIMEOUT_INIT_REPLICA=40